  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.title {
    padding-top: 100px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    color: #0080ffb8;
    font-size: 38px;
    font-weight: 900;
}

.Cards>.content,
.Activities .content,
.Contact .content {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.card {

    width: 300px;
    background-color: #fff;
    box-shadow: 0 10px 25px rgb(137, 137, 137);
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    transition: .6s ease;
}

.card .icon {
    text-align: center;
    font-size: 150px;
    color: #0080ffb8;;
}

.card h3 {
    padding: 25px 0;
    color: #0080ffb8;;
    text-align: center;
}

.card p {
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
}
 

